   <footer>
        <nav class="navbar fixed-bottom navbar-dark navbar-transparent justify-content-center">
          <p class="h6">Created By Samson P G</p>
        </nav>
        
      </footer>
</body>
</html>
